* {
  /* to disable text selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

  /* to disable drag */
* {
  -webkit-user-drag: none;
   -khtml-user-drag: none;
     -moz-user-drag: none;
       -o-user-drag: none;
          user-drag: none;
}

.modal-backdrop.show {
    opacity: 0.2 !important;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
    width: 250px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
    /* body{
        background-color: white
    }

    #header{
        background-color: #563C55;
        padding:10px 20px 10px 20px;
    }
    #header h2{
        font-size: 25px;
        margin-top: 5px;
        color: white;
        text-shadow: none;

    }
    #title_page h1{
        font-size: 45px;
        text-align: center;
        color: white;
        text-shadow: none;
    }

    #home_button{
        margin-top: 10px;
        width: 80px;
        height: 16px;
        font-size: 18px;
    }
    .flip-clock-wrapper ul{
        width: 40px;
        height: 60px;

    }
    .flip-clock-wrapper ul li a div div.inn {
        font-size: 25px;
    }

    .ui-bar h1{
    color: white;
    text-shadow: none;
    font-size: 30px;
        text-align: center;
        margin: 0 auto;
        text-align: center;
        display: block;
        padding: .7em 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        outline: 0!important;
    }

    .logo{

        height: 90%;
        border-radius: 5px;
        /*box-shadow: 0px 0px 10px #111;*/

    /* } */
    .logo-h{

        width: 70%;
        margin-top: 20px;
    }

    h3{
    color: black;
    text-shadow: none;
    }

    iframe {
            border-width: 0px;
            border-style: inset;
            border-color: initial;
            border-image: initial;
        border-radius: 5px;
    }
    #overlay {
      position: fixed; /* Sit on top of the page content */
      display: none; /* Hidden by default */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5); /* Black background with opacity */
      z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
      /* cursor: pointer; /* Add a pointer on hover */ */
    }

    #id_iframe{
        width:100%;
        height:100%;
        min-height:620px;
    }

    #main{
        width:100%;
        height:100%;
        min-height:620px;
    }

    #button-home{
        margin-left: 10px;
        margin-bottom: 10px;
        width: 80px;
        background-color: black;
        color: white;
    }

    #popupNavigation{
        background-color: black;
        text-align: center;
        height:600px;
        width:1000px;
        color:white;
    }

    #footer {
        z-index: 2200;
    }

/* RESPONSIVE LIST */
    /* First breakpoint is 48em (768px). 3 column layout. Tiles 250x250 pixels incl. margin at the breakpoint. */

/* Second breakpoint is 63.75em (1020px). 4 column layout. Tiles will be 250x250 pixels incl. margin again at the breakpoint. */
    @media ( min-width: 48em ) {
        /* Set a max-width for the last breakpoint to prevent too much stretching on large screens.
        By setting the max-width equal to the breakpoint width minus padding we keep square tiles. */
        .responsive-list {
                width: 100%; /* 1000px */
                text-align: center;
                margin: 0 auto;
                margin-top:100px;
            margin-left:1%;
        }
        .responsive-list li {
                float: left;
                width: 20.0%; /* 33.3333% incl. 2 x 1.2% margin */
                height: 250px;
                margin: 2px 2px;

        }
        .ui-content .ui-listview{
                margin: 0 auto;
        }
        .responsive-list li a {

            width: 100%; /* 33.3333% incl. 2 x 1.2% margin */
            min-height: 300px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
        }

        .responsive-list .ui-listview li a ui-btn-icon-right:after {
        display: none;
    }

         .responsive-list li.ui-li-has-thumb {
             float: left;
                height: auto;
                max-width: 40%;
                min-height: 200px;
                max-height: none;
                margin: 20px 20px;
        }


.ui-listview .ui-li-has-thumb>.ui-btn>img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb {
                min-width: 90%;
                min-height: 90%;
    margin: 10px 10px;

    }
    .responsive-list .ui-listview li .ui-btn{


        width: 40%;
        min-height: 200px;
     /* border-color: darkgray;
        border-width: 1px;
        */
    /*  -moz-box-shadow: 0px 0px 9px #111;
        -webkit-box-shadow: 0px 0px 9px #111;*/
        box-shadow: 10px 10px 9px #111;

    }

        .responsive-list>.ui-listview>li.ui-first-child, .responsive-list>.ui-listview>li.ui-last-child{
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;

    }
    .ui-listview>li h2 {

        white-space: normal;
        overflow: visible;
        position: absolute;
        left: 0;
        right: 0;

    }

    .ui-listview>li h2 {
        font-size: 20px;
        margin-bottom: 10px;
        padding: .125em 1em;
        bottom: 10px;
        color: white;
        padding-left:30px;
    }

    .ui-li-has-thumb h2 {
        background: rgba(0,45,98,.8);
        height: 54%;
        margin-bottom: 10px;

    }


} */
